/body{
	background-color: silver;
	animation:changecolor 25s infinite;
}
@-webkit-keyframes changecolor{
	0%{background-image: linear-gradient(40deg ,  	#FF4500 , 	#FFA500);}
	20%{background-image: linear-gradient(80deg ,#BA55D3 ,#9370DB );}
	40%{background-image: linear-gradient(120deg , 	#FF69B4 ,#FF1493 );}
	60%{background-image: linear-gradient(160deg ,#8B008B ,#BDB76B );}
	80%{background-image: linear-gradient(200deg  ,#20B2AA  ,#87CEFA );}
	100%{background-image: linear-gradient(240deg  , #ADFF2F , #008000);}
	
	@import url(https://fonts.googleapis.com/css?family=Bungee);
font-family: 'Bungee';

